.home-ct {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: 100vh;

    .welcome-message-ct {
        max-width: 500px;
        background-color: transparent;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-bottom: 64px;

        .welcome-face-ct {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 150px;
            width: 150px;
            margin: 20px;

            .welcome-face {
                font-size: 128px;
                color: #36474F;
            }
        }

        .welcome-message {
            color: #36474F;
            font-size: 24px;
            text-align: center;
            line-height: 40px;
            font-family: 'gotham-light';
            -webkit-animation-delay: 1s;
            -moz-animation-delay: 1s;
            animation-delay: 1s;

            .welcome-message-bold {
                font-family: 'gotham-medium'
            }

        }

        .social-ct {
            margin-top: 50px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            -webkit-animationDelay: 1s;
            -moz-animationDelay: 1s;
            animation-delay: 1s;
        }

    }

    .skill-chips {
        max-width: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}


