.timeLine-ct {
    width: 100%;
    height: 100vh;
    background-color: #333;
    overflow: scroll;
    font-family: "Gotham";

    .intro {
        background: #F45B69;
        padding: 100px 0;
    }

    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    .timeline {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;

        ul {
            padding: 0;

            li {
                list-style-type: none;
                position: relative;
                width: 6px;
                margin: 0 auto;
                padding-top: 50px;
                background: #fff;

                &.in-view {

                    &::after {
                        background: #F45B69;
                    }

                    div {
                        transform: none;
                        visibility: visible;
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 600px) {
                    margin-left: 20px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: #fff;
                    transition: background .5s ease-in-out;
                }

                &:nth-child(odd) {

                    div {
                        left: -155px;
                        transform: translate3d(200px, 0, 0);

                        &::before {
                            left: -15px;
                            border-width: 8px 16px 8px 0;
                            border-color: transparent #F45B69 transparent transparent;
                        }
                    }
                }

                &:nth-child(even) div {
                    left: -469px;

                    @media screen and (max-width: 900px) {
                        left: -319px;
                    }

                    @media screen and (max-width: 680px) {
                        left: -289px;
                    }

                    @media screen and (max-width: 600px) {
                        left: 45px;
                    }

                    &::before {
                        right: -15px;
                        border-width: 8px 0 8px 16px;
                        border-color: transparent transparent transparent #F45B69;

                        @media screen and (max-width: 600px) {
                            left: -15px;
                            border-width: 8px 16px 8px 0;
                            border-color: transparent #F45B69 transparent transparent;
                        }
                    }
                }

                div {
                    position: relative;
                    bottom: 0;
                    width: 400px;
                    padding: 15px;
                    background: #F45B69;
                    visibility: hidden;
                    opacity: 0;
                    transition: all .5s ease-in-out;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 7px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                    }

                    @media screen and (max-width: 900px) {
                        width: 250px;
                    }

                    @media screen and (max-width: 680px) {
                        width: 220px;
                    }

                    @media screen and (max-width: 600px) {
                        width: calc(100vw - 131px);
                    }


                }
            }
        }
    }
}
